{{
  "TicketNumber": "{{ TicketNumber }}",
  "JobInteractionId": "{{ tower_job_id }}",
  "RbaStatusCode": "{{ status_code }}",
  "RbaStatusMessage": "{{ response_message | replace('\\','\\\\') | replace('\t','\\t') | replace('\f','\\f') }}"
}
